<p id="notice"><%= notice %></p>

<h1>Listing Talks</h1>

<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Speaker name</th>
      <th>Start time</th>
      <th>End time</th>
      <th>Conference</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @talks.each do |talk| %>
      <tr>
        <td><%= talk.title %></td>
        <td><%= talk.speaker_name %></td>
        <td><%= talk.start_time %></td>
        <td><%= talk.end_time %></td>
        <td><%= talk.conference.name %></td>
        <td><%= link_to 'Show', conference_talk_path(@conference, talk) %></td>
        <td><%= link_to 'Edit', edit_conference_talk_path(@conference, talk) %></td>
        <td><%= link_to 'Destroy', conference_talk_path(@conference, talk), method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Talk', new_conference_talk_path(@conference) %> |
<%= link_to "View JSON", {:format => :json } %>
