<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @talk.title %>
</p>

<p>
  <strong>Speaker name:</strong>
  <%= @talk.speaker_name %>
</p>

<p>
  <strong>Start time:</strong>
  <%= @talk.start_time %>
</p>

<p>
  <strong>End time:</strong>
  <%= @talk.end_time %>
</p>

<p>
  <strong>Conference:</strong>
  <%= @talk.conference.name %>
</p>

<%= link_to 'Edit', edit_conference_talk_path(@conference, @talk) %> |
<%= link_to 'Back', conference_talks_path %>
